<h1 class="text-center">About</h1>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
		<a ui-sref=".author">Author</a>
		<a ui-sref=".project">Project</a>		
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		<ui-view></ui-view>		
	</div>
</div>
