<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">mapLine</a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
      <li ui-sref-active="active" ><a ui-sref="map">Map</a></li>
      <li ui-sref-active="active" ><a ui-sref="about">About</a></li>
    </ul>
  </div>
</nav>