<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<h1>map</h1>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="trip in trips" ng-class="$index==choosenIndex ? 'choosen' : ''" ng-click="chooseTrip(trip, $index)">
					<td>{{trip.name}}</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-primary" ng-click="modalOpen()">Add trip</button>
		<button class="btn btn-primary" ng-disabled="choosenIndex < 0" ng-click="deleteTrip(choosenTripObj)">Delete trip</button>
		<button class="btn btn-primary" ng-disabled="choosenIndex < 0" ng-click="modalOpen(choosenTripObj)">Edit trip</button>
		<button class="btn btn-primary" ng-disabled="choosenIndex < 0" ng-click="go('visitedPlaces')">Visited places</button>
	</div>
</div>