<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Trip</h3>
</div>
<div class="modal-body" id="modal-body">
	<form name="myForm" novalidate>
		<table class="table">
			<tbody>
				<tr>
					<td><label for="name">Trip name:</label></td>
					<td><input type="text" name="name" id="name" ng-model="modal.trip.name" required /></td>
				</tr>
				<tr>
					<td><label for="description">Description:</label></td>
					<td><input type="text" name="description" id="description" ng-model="modal.trip.description" required /></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="myForm.$invalid" type="button" ng-click="addTrip(modal.trip)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="modalClose()">Cancel</button>
</div>